
.editing{
  margin-bottom: 3%;
}

/* .imginput input{
  height: 0;
  width: 0;
  opacity: 0;
}


.papere1{
    margin-top: 2%;
  }

.submite6{
    margin:5% 0% 0% 30%;
}

.uploade{
  
  font-size: 2rem !important;

  cursor: pointer;
}

.submite5 {
    width: 180px;
    height: 44px;
    border-radius:0.2rem;
    font-size: 1.3rem;
    background-image: linear-gradient(to right, #2196F3 30%, #21CBF3  90%);
    margin-right: 5%;
}  
        

.labele1 {

    text-align: center;
    font-size: 2.4rem;
     margin-bottom: 1.4rem;
    font-family: fell, Georgia, Cambria, "Times New Roman", Times, serif;

}


 */
